// Здесь находятся все глобальные стили проекта, например блоки по БЭМу

.webp {
  .insta__title {
    background-image: url("../images/header/insta-bg.jpg");
  }
  .steps__block {
    background-image: url("../images/steps/line.webp");
  }
  .advantages__item:nth-child(1)::before {
    background-image: url("../images/advantages/1.webp");
  }
  .advantages__item:nth-child(2)::before {
    background-image: url("../images/advantages/2.webp");
    width: 150px;
    height: 150px;
  }
  .advantages__item:nth-child(3)::before {
    background-image: url("../images/advantages/3.webp");
  }
}

.no-webp {
  .insta__title {
    background-image: url("../images/header/insta-bg.webp");
  }
  .steps__block {
    background-image: url("../images/steps/line.png");
  }
  .advantages__item:nth-child(1)::before {
    background-image: url("../images/advantages/1.png");
  }
  .advantages__item:nth-child(2)::before {
    background-image: url("../images/advantages/2.png");
  }
  .advantages__item:nth-child(3)::before {
    background-image: url("../images/advantages/3.png");
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper {
  &__steps {
    @include adaptive-value("margin-bottom", 120, 90, 1);
    @include adaptive-value("padding-top", 145, 100, 1);
  }
  &__who {
    @include adaptive-value("margin-bottom", 150, 120, 1);
  }
  &__advantages {
    @include adaptive-value("margin-bottom", 150, 120, 1);
  }
  &__comfortable {
    @include adaptive-value("margin-bottom", 150, 120, 1);
  }
  &__learn {
    @include adaptive-value("margin-bottom", 150, 120, 1);
  }
  &__questions {
    @include adaptive-value("margin-bottom", 230, 200, 1);
  }
}

.title {
  font-family: "Oranienbaum";
  margin: 0 auto;
  font-size: 64px;
  @include adaptive-value("font-size", 64, 28, 1);
  line-height: calc(74 / 64);
  @include adaptive-value("line-height", 74, 32, 1);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #1b1a1a;
  max-width: 855px;
  font-weight: 400;
  position: relative;
  &::before {
    content: "";
    width: 0;
    @include adaptive-value('height', 4, 1, 1);
    background-color: rgba(#000, 0.5);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.7s;
  }
  &:hover {
    &::before {
      width: 100%;
    }
  }
  &--white {
    background: linear-gradient(96.63deg, #ffffff 0%, #dfdfdf 31.52%, #a5a5a5 83.09%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    &::before {
      background-color: rgba(#fff, 0.5);
    }
  }
}
