// Главный файл, где пишутся и куда подключаются все стили проекта

// Адаптивное свойство - используется, если дизайнером предоставлен неполный макет,
// чтобы при уменьшении или увеличении экрана паддинги, размеры шрифта автоматически
// увеличивались / уменьшались в границах от десктопного значения до телефонного
// Подробнее: https://www.youtube.com/watch?v=eaOAY0vIB4U
$maxWidth: 1920; // Для масштабирования, например, текста, если экран будет увеличиваться и станет больше контейнера
$maxWidthContainer: 1200; // Для масштабирования, например, текста, если экран будет уменьшаться и станет меньше контейнера

// Импорт дополнительных файлов стилей и настроек
@import "variables";
@import "../../node_modules/normalize.css/normalize";
@import "start";
@import "mixins/font-face";
@import "mixins/adaptive-value";
@import "fonts";
@import "global";

// Основные свойства

html,
body {
  overflow-x: hidden;
}

html {
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a {
  cursor: pointer;
}

// Основная часть

.wrapper {
}

.header {
  background-image: url("../images/header/main-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include adaptive-value("padding-top", 48, 22, 1);
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
  }
  &.slick2 {
    // @include adaptive-value("padding-top", 115, 80, 1);
    // padding-top: calc(48px + 67px);
    .header__top {
      position: fixed;
      top: -100px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 1240px;
      padding: 0 30px;
      width: 100%;
      padding-top: 22px;
      padding-bottom: 22px;
      background-color: rgba(#000, 0.3);
      z-index: 100;
      border-radius: 20px;
      transition: top 0.4s;
    }
  }
  &.slick {
    .header__top {
      top: 4px;
    }
  }
  &__bottom {
  }
}
.container {
}
.top {
  &__title {
    max-width: 180px;
    @include adaptive-value("font-size", 14, 12, 1);
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    &::before {
      content: "";
      width: 0;
      height: 1px;
      background-color: rgba(#fff, 0.5);
      position: absolute;
      bottom: -3px;
      left: 50%;
      transform: translateX(-50%);
      transition: width 0.3s;
    }
    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
  &__insta-block {
    background: #363636;
    border-radius: 10px;
    padding: 10px 10px 10px 143px;
    position: relative;
  }
}
.insta {
  &:hover {
    .insta__count {
      letter-spacing: 2px;
    }
  }
  &__count {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    transition: letter-spacing 0.3s;
  }
  &__title {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 10px;
    padding-left: 42px;
    padding-right: 17px;
    display: flex;
    align-items: center;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      width: 24px;
      height: 24px;
      background: url("../images/header/insta.svg") center/contain no-repeat;
    }
  }
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__left {
  }
  &__main-title {
    font-family: "Oranienbaum";
    @include adaptive-value("font-size", 72, 42, 1);
    line-height: calc(83 / 72);
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background: linear-gradient(96.63deg, #ffffff 0%, #dfdfdf 31.52%, #a5a5a5 83.09%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    @include adaptive-value("margin-bottom", 24, 16, 1);
    font-weight: 400;
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__main-title-addition {
    padding-left: 40px;
  }
  &__main-text {
    line-height: 150%;
    color: #ffffff;
    margin-bottom: 40px;
    @include adaptive-value("font-size", 18, 16, 1);
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__btn {
    background: linear-gradient(95.9deg, #ff7697 0%, #ff94ae 27.88%, #ff6a8e 81.52%, #ff7697 100%);
    box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.25);
    border-radius: 45px;
    padding: 34px 52px 37px 51px;
    font-weight: 700;
    @include adaptive-value("font-size", 16, 14, 1);
    @include adaptive-value("line-height", 19, 17, 1);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    transition: letter-spacing 0.45s;
    &:hover {
      letter-spacing: 3px;
    }
  }
  &__right {
    position: relative;
    transition: transform 0.7s;
    transform-origin: bottom;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__main-img {
    display: block;
  }
  &__addition-img {
    position: absolute;
    bottom: -60px;
    left: -120px;
    width: 677.9px;
    height: 499px;
    max-width: initial;
  }
}

.steps {
  &__title {
    margin-bottom: 56px;
  }
  &__block {
    padding: 47px 50px 47px 106px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    &:hover {
      .steps__image-block {
        transform: scale(1.2) translateY(-50%);
      }
    }
  }
  &__text {
    max-width: 524px;
    margin: 0 auto;
    font-family: "Lato";
    font-style: italic;
    font-size: 18px;
    line-height: 150%;
  }
  &__par {
  }
  &__par + &__par {
    margin-top: 15px;
  }
  &__image-block {
    position: absolute;
    left: 115px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.6s;
    &::before {
      content: "";
      position: absolute;
      top: -9px;
      left: -9px;
      width: 132px;
      height: 132px;
      background-image: url("../images/steps/circle-line.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  &__img {
  }
}

.who {
  position: relative;
  &__title {
    margin-bottom: 70px;
    @include adaptive-value("margin-bottom", 70, 40, 1);
  }
  &__list {
  }
}
.swiper-who {
  &__wrapper {
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &:hover {
      .swiper-who__text {
        background-color: rgba(#000, 0.1);
      }
      .swiper-who__title {
        letter-spacing: 1px;
      }
    }
  }
  &__img-wrapper {
    width: 174px;
    height: 174px;
    margin-bottom: 13px;
  }
  &__img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }
  &__title {
    font-weight: 800;
    @include adaptive-value("font-size", 17, 16, 1);
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 12px;
    max-width: 280px;
    transition: letter-spacing 0.3s;
  }
  &__text {
    line-height: 1.5;
    @include adaptive-value("font-size", 18, 16, 1);
    max-width: 280px;
    transition: background-color 0.3s;
  }
  &__pagination {
    position: absolute;
    bottom: -33px !important;
    left: 50%;
    display: flex;
    justify-content: center;
    margin: 0 -6px;
    opacity: 0;
    visibility: none;
  }
  &__bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ff7697;
    opacity: 0.2;
    margin: 0 6px;
    transition: opacity 0.2s;
    &--active {
      opacity: 1;
    }
  }
}

.advantages {
  &__title {
    @include adaptive-value("margin-bottom", 48, 24, 1);
  }
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -10px -10px;
  }
  &__item {
    flex: 0 0 380px;
    padding: 0 10px;
    box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.03);
    border-radius: 30px;
    padding: 30px 120px 30px 30px;
    overflow: hidden;
    position: relative;
    transition: transform 0.4s;
    margin: 0 10px 10px;
    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 175px;
      height: 175px;
      transition: transform 0.4s;
    }
    &:hover {
      transform: translateY(-20px);
      &::before {
        transform: translateY(20px);
      }
    }
    &:nth-child(1) {
      background: #ffeaeb;
      span {
        color: #fe1f3d;
      }
      .advantages__item-text {
        color: #6b1c29;
      }
      &::before {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        bottom: -35px;
        right: -20px;
      }
    }
    &:nth-child(2) {
      background: #eaf4ff;
      span {
        color: #2db9ee;
      }
      .advantages__item-text {
        color: #143f5a;
      }
      &::before {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        right: -25px;
      }
    }
    &:nth-child(3) {
      background: #fff7ea;
      .advantages__item-text {
        color: #4f3c17;
      }
      &::before {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        right: 10px;
        bottom: -40px;
      }
    }
  }
  &__item-text {
    line-height: 150%;
    @include adaptive-value("font-size", 18, 16, 1);
  }
  &__item-list {
    color: #4f3c17;
    list-style-type: disc;
    padding-left: 25px;
    line-height: 150%;
  }
  &__item-item {
  }
  &__item-item-text {
  }
}

.comfortable {
  &__inner {
    background-color: #000;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include adaptive-value("padding-top", 16, 0, 1);
    @include adaptive-value("padding-right", 47, 0, 1);
    padding-bottom: 0;
    @include adaptive-value("padding-left", 64, 24, 1);
    border-radius: 32px;
    background: url("../images/comfortable/bg.jpg") center no-repeat;
    transition: background 0.4s;
    &:hover {
      background: url("../images/comfortable/bg.jpg") 10% 10% no-repeat;
      .comfortable__img {
        transform: scale(1.06);
      }
    }
  }
  &__left {
    max-width: 500px;
    padding-top: 48px;
  }
  &__title {
    font-family: "Oranienbaum";
    font-weight: 400;
    @include adaptive-value("font-size", 48, 36, 1);
    line-height: 130%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #ffcfda;
    @include adaptive-value("margin-bottom", 24, 8, 1);
  }
  &__par {
    font-size: 17px;
    line-height: 150%;
    color: #ffffff;
  }
  &__par + &__par {
    margin-top: 10px;
  }
  &__right {
    max-width: 100%;
  }
  &__img {
    width: 314px;
    height: 346px;
    display: block;
    transform-origin: bottom;
    transition: transform 0.4s;
  }
}

.learn {
  &__title {
    @include adaptive-value("margin-bottom", 68, 33, 1);
  }
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -25px -38px;
  }
  &__item {
    flex: 0 1 400px;
    padding: 0 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25px 0;
    &:hover {
      .learn__item-img {
        transform: scale(1.1);
      }
      .learn__item-text {
        background-color: rgba(#000, 0.1);
      }
    }
  }
  &__item-img-container {
    margin-bottom: 17px;
  }
  &__item-img {
    transition: transform 0.4s;
  }
  &__item-text {
    font-size: 16px;
    line-height: 150%;
    color: #050505;
    padding-bottom: 5px;
    transition: background-color 0.3s;
  }
  &__item-link {
    color: #ff7697;
    position: relative;
    transition: color 0.15s;
    &::before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #ff7697;
      transition: background-color 0.15s;
    }
    &:hover {
      color: darken(#ff7697, 10%);
      &::before {
        background-color: darken(#ff7697, 10%);
      }
    }
  }
}

.questions {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 230px;
    height: 330px;
    background-image: url("../images/questions/lupa.png");
    right: 0;
    bottom: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__title {
    @include adaptive-value("margin-bottom", 48, 24, 1);
  }
  &__inner {
    max-width: 980px;
    margin: 0 auto;
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    font-weight: 400;
    font-size: 19px;
    line-height: 150%;
    color: #513939;
    background: #fff;
    border-radius: 30px;
    width: 100%;
    &.active {
      .questions__body {
        padding-bottom: 40px;
      }
      .questions__head {
        &::after {
          transform: translateY(-50%) rotate(135deg);
        }
        &::before {
          width: calc(100% - 80px);
        }
      }
    }
  }
  &__item + &__item {
    margin-top: 20px;
  }
  &__head {
    position: relative;
    cursor: pointer;
    user-select: none;
    line-height: 1.5;
    @include adaptive-value("padding", 40, 20, 1);
    @include adaptive-value("padding-right", 80, 50, 1);
    transition: letter-spacing 0.4s;
    @include adaptive-value("font-size", 19, 12, 1);
    &:hover {
      letter-spacing: 0.8px;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 1px;
      background-color: rgba(#513939, 0.5);
      transition: width 0.5s;
    }
    &::after {
      content: "";
      position: absolute;
      @include adaptive-value("right", 40, 20, 1);
      top: 50%;
      transform: translateY(-50%);
      @include adaptive-value("width", 18, 12, 1);
      @include adaptive-value("height", 18, 12, 1);
      background: url("../images/questions/plus.svg") center/contain no-repeat;
      transition: transform 0.5s;
    }
  }
  &__body {
    max-height: 0;
    overflow-y: hidden;
    padding: 0;
    @include adaptive-value("font-size", 17, 12, 1);
    line-height: 150%;
    color: #513939;
    transition: max-height 0.5s, padding 0.5s;
    @include adaptive-value("padding-right", 50, 20, 1);
    @include adaptive-value("padding-left", 40, 20, 1);
    a {
      position: relative;
      cursor: pointer;
      color: #ff7697;
      transition: color 0.15s;
      &::before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #ff7697;
        transition: background-color 0.15s;
      }
      &:hover {
        color: darken(#ff7697, 10%);
        &::before {
          background-color: darken(#ff7697, 10%);
        }
      }
    }
  }
}

.special {
  @include adaptive-value("padding-top", 110, 75, 1);
  padding-bottom: 40px;
  background-image: url("../images/comfortable/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-position 0.6s;
  &:hover {
    background-position: 0;
  }
  &__top {
    margin-bottom: 240px;
  }
  &__title {
    margin-bottom: 16px;
  }
  &__text {
    text-align: center;
    @include adaptive-value("font-size", 18, 16, 1);
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 40px;
    span {
      color: #ff7697;
    }
  }
  &__btns {
    display: flex;
    margin: -10px -10px;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__btn {
    margin: 10px 10px;
    padding-top: 35px;
    padding-right: 40px;
    padding-bottom: 35px;
    padding-left: 40px;
    font-weight: 700;
    @include adaptive-value("font-size", 16, 14, 1);
    @include adaptive-value("line-height", 19, 17, 1);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    background: #ff7697;
    box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.25);
    border-radius: 45px;
    border: 1px solid #ff7697;
    transition: all 0.3s;
    &:hover {
      background: transparent;
      border: 1px solid #fff;
      box-shadow: none;
    }
  }
  &__btn--transparent {
    background: transparent;
    border: 1px solid #fff;
    box-shadow: none;
    &:hover {
      background: #ff7697;
      box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.25);
      border: 1px solid #ff7697;
    }
  }
  &__footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include adaptive-value("padding", 50, 25, 1);
    background-color: #fff;
    border-radius: 30px;
  }
  &__footer {
    position: relative;
    z-index: 1;
    box-shadow: 0px 10px 100px rgba(81, 57, 57, 0.05);
    max-width: 980px;
    margin: 0 auto;
  }
  &__footer-img {
    position: absolute;
    top: -220px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    transition: transform 0.5s;
    &:hover {
      transform: translateX(-50%) scale(1.1);
    }
  }
  &__link-img {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 0;
      background-color: rgba(#000, 0.5);
      transition: width 0.3s;
    }
    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
  &__img {
  }
  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__link-title {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 150%;
    color: #513939;
  }
  &__link {
    font-size: 14px;
    line-height: 150%;
    color: rgba(81, 57, 57, 0.5);
    transition: color 0.3s;
    &:hover {
      color: rgba(81, 57, 57, 0.9);
    }
  }
  &__link + &__link {
    margin-top: 5px;
  }
}

// POPUP

.btn-wrapper {
  display: flex;
  &--mt {
    margin-top: 40px;
  }
}
.btn {
  font-size: 21px;
  font-weight: 500;
  line-height: 30px;
  color: #fff;
  margin-right: 20px;
  background: #fa5e78;
  border: 1px solid #fa5e78;
  border-radius: 8px;
  padding: 14px 0px 18px;
  cursor: pointer;
  width: 300px;
  transition: all 0.3s;
  &:hover {
    background: #fff;
    color: #fa5e78;
  }
}
.link {
  line-height: 30px;
  font-size: 21px;
  color: #fa5e78;
  border: 1px solid #fa5e78;
  border-radius: 8px;
  background: #fff;
  padding: 14px 0px 18px;
  width: 300px;
  text-align: center;
  transition: all 0.3s;
  &:hover {
    background: #fa5e78;
    color: #fff;
  }
}

.popup {
  // &__close {
  //     position: absolute;
  //     width: 20px;
  //     height: 20px;
  //     background-color: green;
  //     z-index: 1000;
  //     top: 50px;
  //     right: 50px;
  // }
  transition: all 0.5s;
  &__body {
    overflow-y: auto;
    max-height: 70vh;
    padding: 50px;
  }
  &.active {
    visibility: visible;
    opacity: 1;
    perspective: 100%;
    & .popup__inner {
      transform: translate(-50%, -50%) rotateX(0deg);
      pointer-events: auto;
    }
  }
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  perspective: 700px;
  &__inner {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.5s;
    transform: translate(-50%, -50%) rotateX(45deg);
    background: #fff;
    border-radius: 64px;
    max-width: 95%;
    max-height: 90vh;
    &_tal {
      h3 {
        text-align: left;
        max-width: 440px;
      }
      p {
        text-align: left;
        font-size: 21px;
        max-width: 652px;
        min-width: 290px;
        span {
          color: #111;
        }
      }
      p + p {
        margin-top: -10px;
      }
      span {
        font-weight: 700;
      }
    }
  }
  &__input {
    background: transparent;
    width: 100%;
  }
  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #111111;
    margin-bottom: 60px;
    text-align: center;
    span {
      color: #fa5e78;
    }
  }
  &__bg {
    max-width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.8);
    cursor: pointer;
  }
  &__btn-wrapper {
    flex-direction: column;
    align-items: center;
  }
  &__btn {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 100%;
  }
  &__link {
    max-width: 100%;
  }
  &__list {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    &--mb {
      margin-bottom: 40px;
    }
  }
  &__item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__img {
    margin-bottom: 40px;
    box-shadow: 0px 10px 100px rgba(13, 30, 89, 0.08);
    border-radius: 20px;
    padding: 10px;
    width: 64px;
    height: 64px;
  }
  &__text {
    text-align: center;
  }
  &__par {
    text-align: center;
    margin-bottom: 10px;
    span {
      color: #fa5e78;
    }
  }
  &__par--mini-margin {
    margin-bottom: 40px;
    margin-top: -40px;
  }
  &__big-img {
    background: #ffffff;
    box-shadow: 0px 10px 100px rgba(13, 30, 89, 0.08);
    border-radius: 50%;
    padding: 21px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  &__title--mini-margin {
    margin-bottom: 30px;
  }
}

.input {
  font-size: 21px;
  margin-bottom: 50px;
  border: none;
  border-bottom: 1px solid rgba(17, 17, 17, 0.3);
  transition: all 0.2s;
  padding-bottom: 15px;
  background: #fff8f9;
  outline: none;
  &:focus {
    border-bottom: 1px solid rgba(17, 17, 17, 0.3);
  }
  &::placeholder {
    font-size: 24px;
    line-height: 130%;
    color: rgba(17, 17, 17, 0.3);
  }
}

* {
  scrollbar-width: thin; /* "auto" или "thin"  */
  scrollbar-color: #cacaca #fff; /* плашка скролла и дорожка */
}

*::-webkit-scrollbar {
  width: 12px; /* ширина scrollbar */
}
*::-webkit-scrollbar-track {
  background: #fff; /* цвет дорожки */
}
*::-webkit-scrollbar-thumb {
  background-color: #cacaca; /* цвет плашки */
  &:hover {
    background-color: #a7a7a7;
  }
  &:active {
    background-color: #797979;
  }
  border: 2px solid #ffffff; /* padding вокруг плашки */
}

.popup__body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.popup__body::-webkit-scrollbar-track {
  background: transparent; /* цвет дорожки */
}
.popup__body::-webkit-scrollbar-thumb {
  background-color: #c0a0be; /* цвет плашки */
  border-radius: 10px; /* закругления плашки */
  &:active {
    background-color: #a879a5;
  }
}

// font-family: 'Lato', sans-serif;
// font-family: 'Manrope', sans-serif;
// font-family: 'Oranienbaum', serif;

@import "media";
