// Здесь находятся все медиазапросы, вынесены в отдельный файл для удобства

@media (max-width: 1200px) {
  .bottom {
    flex-direction: column;
    margin-top: 80px;
    position: relative;
    &__main-title {
      text-align: center;
    }
    &__main-text {
      text-align: center;
      margin-bottom: 70px;
    }
    &__main-title-addition {
      padding-left: 0;
      display: block;
    }
    &__btn {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) translateY(50%) !important;
      z-index: 1;
      max-width: 290px;
      width: 100%;
      text-align: center;
    }
  }
  .header.slick .header__top {
    padding: 18px 20px;
    max-width: calc(100% - 20px);
  }
  .header.slick .top__title {
    padding-right: 8px;
  }
  .steps {
    &__block {
      padding: 73px 20px 59px;
      &:hover {
        .steps__image-block {
          transform: translateX(-50%) translateY(-50%) scale(1.15);
        }
      }
    }
    &__image-block {
      top: 0;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 87px;
      height: 87px;
      &::before {
        width: 105px;
        height: 105px;
      }
    }
    &__title {
      margin-bottom: 82px;
    }
    &__text {
      @include adaptive-value("font-size", 18, 16, 1);
    }
  }
}

@media (max-width: 1000px) {
  .swiper-who__pagination {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 800px) {
  .steps {
    &__block {
      background: none !important;
      border: 1px solid #ff7697;
    }
  }
}

@media (max-width: 940px) {
  .comfortable {
    &__inner {
      flex-direction: column;
    }
    &__right {
      align-self: flex-end;
    }
    &__left {
      padding-right: 24px;
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 690px) {
  .bottom {
    &__addition-img {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .special {
    &__footer-wrapper {
      flex-direction: column;
      justify-content: center;
    }
    &__link-img {
      margin-bottom: 18px;
    }
    &__links {
      align-items: center;
      text-align: center;
    }
  }
}

@media (max-width: 480px) {
  .insta {
    &__title {
      width: 44px;
      padding: 0;
      span {
        display: none;
      }
    }
  }

  .top {
    &__insta-block {
      padding-left: 51px;
    }
  }
  .advantages {
    &__item {
      padding: 30px 20px 0 20px;
      flex: 0 1 100%;
      min-height: 288px;
      text-align: center;
      &::before {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
      }
      &:nth-child(2) {
        &::before {
          bottom: -55px;
          width: 170px !important;
          height: 170px !important;
        }
      }
    }
    &__item-text {
      max-width: 250px;
      margin: 0 auto;
    }
    &__item-list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
      justify-content: center;
      max-width: 250px;
      margin: 0 auto;
    }
    &__item-item {
      margin: 0 15px;
    }
  }

  .learn {
    &__item-img-container {
      width: 102px;
      height: 102px;
    }
    &__item-img {
      max-width: 100%;
      max-height: 100%;
    }
    &__item {
      padding: 0;
    }
    &__list {
      margin: -25px 0;
    }
  }
}
